.li_toeHole:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background: #3e5dd7;
    vertical-align: middle;
    margin-right: 14px;
}



.li_brokenNDL:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background: #13734e;
    vertical-align: middle;
    margin-right: 14px;
}

.li_missYarn:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background: #d69114;
    vertical-align: middle;
    margin-right: 14px;
}

.li_LOGO:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background: #dd5721;
    vertical-align: middle;
    margin-right: 14px;
}

.li_Dirty:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background: #868a92;
    vertical-align: middle;
    margin-right: 14px;
}

.li_other:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    background: #bb3bd7;
    vertical-align: middle;
    margin-right: 14px;
}




　　　　　　* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.btn-numbox {
    overflow: hidden;
    margin-top: 0px;
}

.btn-numbox li {
    float: left;
}



.btn-numbox .count {
    overflow: hidden;
}

.btn-numbox .count .num-jian,
.input-num,
.num-jia {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 18px;
    color: #999;
    cursor: pointer;
    border: 1px solid #e6e6e6;
}
.btn-numbox .count .input-num {
    width: 58px;
    height: 26px;
    color: #333;
    border-left: 0;
    border-right: 0;
}